@font-face {
  font-family: 'PublicSans';
  src: url('./assets/fonts/PublicSans-Regular(400).otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PublicSans';
  src: url('./assets/fonts/PublicSans-Medium(500).otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PublicSans';
  src: url('./assets/fonts/PublicSans-SemiBold(600).otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PublicSans';
  src: url('./assets/fonts/PublicSans-Bold(700).otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@import 'tailwindcss';

@theme inline {
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-muted: var(--muted);
  --color-danger: var(--danger);
  --color-warning: var(--warning);
  --color-gray: var(--gray);
  --color-purple: var(--purple);
  --color-green: var(--green);
  --color-border: var(--border);
}

:root {
  --foreground: #23272e;
  --background: #f5f5f5;
  --primary: #0f60ff;
  --warning: #ffc600;
  --danger: #ea5455;
  --muted: #8b909a;
  --gray: #f3f4f8;
  --purple: #7367f0;
  --green: #28c76f;
  --border: #dbdade;
}

@layer base {
  body {
    @apply bg-background;
  }
  * {
    @apply text-foreground;
  }
}

body {
  font-family: 'PublicSans', 'sans-serif';
}

button {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
